env/
.DS_Store
Docker/__pycache__

venv/

*.pyc
__pycache__/

instance/
data.db

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
helpers/*
json_template/

.env
# Ignore raw dataset since we use gzip version
dataset.csv

# Ignore large datasets and generated indexes for P04 milestone
data/
*.pkl
wine_clean.csv
food_clean.csv
