env/
.DS_Store
Docker/__pycache__

venv/

*.pyc
__pycache__/

instance/
data.db

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
helpers/*
json_template/

.env
# Ignore raw dataset since we use gzip version
dataset.csv

# Ignore raw datasets but permit the processed indexes
data/
